<template name="postSubmit">
    <form class="main">
        <div class="control-group">
            <label for="url" class="control-label">URL</label>
            <div class="controls">
                <input type="text" name="url" id="url" value="" placeholder="Your Url"/>
            </div>
        </div>     
        <div class="control-group">
            <label for="title" class="control-label">Title</label>
            <div class="controls">
                <input type="text" name="title" id="title" value="" placeholder="Name your post"/>
            </div>
        </div>     
        <div class="control-group">
            <label for="message" class="control-label">Message</label>
            <div class="controls">
                <textarea name="message" id="message" rows="8" cols="40" type="text" value=""></textarea>
            </div>
        </div>     
        <div class="control-group">
            <div class="controls">
                <input type="submit" name="submit" id="submitBtn" value="submit" class="btn btn-primary" />
            </div>
        </div>     
    </form>
</template>
